.image__upload {
    color: white;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.image__progress {
    margin-bottom: 10px;
    width: 100%;
    background-color: none;
}

.button {
    margin-top: 10px;
}