
.post {
    color: white;
    background-color: #0D0D0D;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 40px;
    
}

.post__image {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width: 100%;
    object-fit: contain;
}

.post__text {
    padding: 20px;
    font-weight: normal;
}

.post__header{
    display: flex;
    padding: 10px;
    align-items: center;
}

.post__avatar{
    object-fit: contain;
    margin-right: 10px;
}

.post__commentbox {
     display: flex;
     margin-top: 10px;
}

.post__input{
    color: white;
    background-color: #0D0D0D;
    flex: 1;
    border:none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post__button{
    background-color: #0D0D0D;
    flex: 0;
    border: 1px solid lightgray;
    color: white;
    border-top:1px solid lightgray;

}

.post__comments {
    padding: 20px;
}